* {
    margin: 0px;
    padding: 0px;
}

.azeret-mono {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* common css */
.description {
    font-size: 12px;
    font-weight: 400px;
    line-height: 26px;
    color: rgb(13, 19, 33);
}

/* end */


/* Navbar style */

.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px 36px 150px;

}

.nav_logo {
    font-size: 28px;
    font-weight: bold;
}

.nav_btn {
    font-size: 20px;
    font-weight: 700px;
    color: rgb(13, 19, 33);
    border-radius: 8px;
    width: 244px;
    height: 57px;
    background-color: white;
}

/* header container */
.header_container {
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    text-align: center;

}

.header_img {
    margin-bottom: 30px;
    margin-top: 26px;
}

.header_title {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 24px;

}


.header_btn {
    font-size: 20px;
    font-weight: 700px;
    color: white;
    border-radius: 8px;
    width: 244px;
    height: 57px;
    background-color: rgb(13, 19, 33);
    border: none;
    margin: 32px 0px 45px 0px;
}

/* main section style */

main {
    /* margin: 74px 152px 0px 148px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    padding: 0px 97px 0px 97px; */

}

.introduction {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;

}

.wev_title {
    font-size: 32px;
    font-weight: 800px;
    line-height: 37px;

}

.wev_boxs {

    height: 240px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 48px;

}

.box1_title {
    font-size: 24px;
    font-weight: 700px;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
}

.box1_btn {
    width: 165px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    border: 2px solid;
    border-color: rgb(13, 19, 33);
    border-radius: 1px;
    margin-top: 32px;
}

.wev_boxs2 {
    margin-top: 32px;
    margin-bottom: 32px;

}

.web_boxs3 {
    margin-bottom: 80px;
}

.web_development {

    background-color: rgba(13, 19, 33, 0.02);
    margin: 74px 152px 0px 148px;
    border-radius: 16px;
    padding: 20px 97px 20px 97px;


}

.title {
    font-size: 30px;
    font-weight: 800px;
    line-height: 37px;
    margin-bottom: 20px;
    color: #0d1321;
}

.inspiration {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 74px 152px 0px 148px;
    border-radius: 16px;
    padding: 0px 97px 0px 97px;
}

.img_container {
    border: 1px solid;
    padding: 30px;
    border-radius: 16px;
    border-color: rgba(13, 19, 33, 0.2);
    margin-top: 48px;

}

.imag_ifame {
    border-radius: 16px;


}

.target {
    margin-top: 150px;
    margin: 74px 152px 0px 148px;
    border-radius: 16px;
    padding: 0px 97px 0px 97px;


}

.target_description {
    text-align: center;
}

.title_name {
    font-size: 24px;
    font-weight: 800px;
    line-height: 36px;
    margin: 24px 0px 8px 0px;

}

.target_btn {
    font-size: 16px;
    font-weight: 700px;
    line-height: 19px;
    color: rgb(13, 19, 33);
    margin-top: 24px;
}

.box {
    width: 220px;
    height: 200px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}

.target_boxs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
}

.Next_target {
    margin: 74px 152px 0px 148px;
    border-radius: 16px;
    padding: 0px 97px 0px 97px;


}

.next_description {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 48px;
}

.next_box {
    border: 1px solid;
    display: flex;
    padding: 40px;
    border-color: rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
}

.gh {
    margin-bottom: 15px;
}

.next_box3 {
    margin: 24px 0px 24px 0px;
}


/* footer section style */

.footer1 {
    margin: 74px 152px 0px 148px;

    border-radius: 16px;
    padding: 0px 97px 0px 97px;

}

.footer_container {
    background-image: url(../assets/handshake.jpg);
    border-radius: 16px;
    /* height: 313px; */
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 64px;

}

.footer_title {
    font-size: 32px;
    font-weight: 700px;
    line-height: 36px;
    color: rgb(255, 255, 255);

}

.footer_des {
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
    margin-top: 16px;
}

.form_text {
    width: 400px;
    /* height: 30px; */
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 18px 20px 18px 20px;
    color: rgba(13, 19, 33, 0.15);



}

.form_text:focus {
    outline: none;
}

.submit_btn {
    padding: 17px 20px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600px;
    line-height: 23px;
    color: rgb(13, 19, 33);
    background-color: white;

}

.social_btn {
    background-color: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 250px;
}

.foot2-title {
    font-size: 20px;
    font-weight: 600px;
    line-height: 23px
}